<center>
<%if flash[:notice] %>
<%=flash[:notice]%>

<%else%>
<h1><%= @user.username %></h1>
<h2> Biography: <%= @user.bio %></h2>
<h3><% @user.albums.each do |album| %>
    <p> Album: <%= link_to album.album_name, album_path(album.id) %></p>
<% end %>
<br>
<br>

<%end%>



<%= link_to "Back to all users", users_path %>




