<center>
<body>
<% if current_user %>
<p>You are logged in as <%= current_user.username %></p>
<% end %>
</body>
<br>
<%if flash[:notice] %>
<p><%=flash.now[:notice]%></p>

<%else%>
<h2><%= @user.username %></h2>

<p>Bio: <%= @user.bio %></p>
<% @user.albums.each do |album| %>
    <p>View: <%= link_to album.album_name, album_path(album.id) %> (<%= link_to "edit title", edit_album_path(album.id) %>) (<%= link_to "delete album", album_path(album.id), method: 'delete' %>)</p>
<% end %>
<br>
<br>
<p><%= link_to "Create new album", new_album_path %></p>
<br>
<br>
<%end%>

<br>
<br>
<p><%= link_to "Back to main page", pictures_path %></p>





