<style>
{
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  width: 400px;
  height: 400px;
}

.column-img {
    width: 350px;
    height: 350px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>


<center>
<%if flash[:notice]%>
   <p><%=flash.now[:notice]%></p>
<%else%>
    <h2>My Album: <%= @album.album_name %></h2>
    <p><%= link_to "Back to my profile", user_path(current_user.id)%></p>
    <br>
    <br>
    <div>
    <% @album.album_pictures.each do |alb_pic| %>
        <% pic = alb_pic.picture %>
        <% @url = pic.image_url %>
        <div class="column">
        <a target="_blank" href= <%= @url %>>
        <img class="column_img" src= <%= @url %> height="350" width="350" >
        </a>
          <% if current_user %>
            <%= form_tag album_pictures_path do %>
              <%= hidden_field_tag("album_picture[picture_id]", pic.id) %>
              <%= collection_select :album_picture, :album_id, current_user.albums, :id, :album_name %>
              <%= submit_tag "Save to Album" %>
            <% end %>
            <%= button_to "Delete from Album", album_picture_path(alb_pic), :method => :delete %>
          <% end %>
        </div>
    <% end %>
    </div>
<% end %>
</center>






