<body>
<center>
<% if current_user %>
You are logged in as <%= current_user.username %>
<% end %>
</center>
</body>
<div align="right">
<%= link_to "My Profile", user_path(current_user.id) %><br>
<%= link_to "Log out", logout_path, method: :delete %><br>
</div>
<center>
<h1> PicYours - Find & store your favourite Pictures</h1>
<br>

<style>
{
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  width: 400px;
  height: 400px;
}

.column-img {
    width: 350px;
    height: 350px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<div>
<% @pictures.each do |pic| %>
    <% @url = pic.image_url %>
    <div class="column">
    <a target="_blank" href= <%= @url %>>
    <img class="column-img" src= <%= @url %>  >
    </a>
    <p>Save this picture</p>
    </div>
<% end %>
</div>






