<body>
<center>
<% if current_user %>
<h3>You are logged in as <%= current_user.username %></h3>
<% end %>
</center>
</body>
<div align="right">
<% if current_user %>
  <%= link_to "My Profile", user_path(current_user.id) %> or <%= link_to "Log out", logout_path, method: :delete %>
<% end %>
</div>
<center>
<h2>PicYours - find & store your favourite pictures</h2>
<br>

<style>
{
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  width: 400px;
  height: 400px;
}

.column-img {
    width: 350px;
    height: 350px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<div>
<% @pictures.each do |pic| %>
    <% @url = pic.image_url %>
    <div class="column">
    <a target="_blank" href= <%= @url %>>
    <img class="column-img" src= <%= @url %>  >
    </a>
      <% if current_user %>
          <%= form_tag album_pictures_path do %>
              <%= hidden_field_tag("album_picture[picture_id]", pic.id) %>
              <%= hidden_field_tag("album_picture[album_id]", current_user.albums.find_by(main: true).id) %>
              <%= submit_tag "Save to Main Album" %>
          <% end %>
          
            <% if current_user.likes.find_by(picture_id: pic.id) %>
              <% @like = Like.all.find_by(user_id: current_user.id, picture_id: pic.id) %>
              <%= button_to "remove like", like_path(@like.id), :method => :delete %>
            <% else %>
              <%= form_tag likes_path do %>
                <%= hidden_field_tag("like[user_id]", current_user.id) %>
                <%= hidden_field_tag("like[picture_id]", pic.id) %>
                <%= submit_tag "like picture" %>
              <% end %>
            <% end %>
    </div>
<% end %>
</div>
<% end %>





